# Get these settings from https://developers.facebook.com/quickstarts/?platform=web
#  You need to "+Add Product" and then add "Facebook Login"
#  There, enable "Web OAuth Login" add your callback_url to the "Valid OAuth redirect URIs"

export FACEBOOK_CLIENT_ID=111111111111
export FACEBOOK_CLIENT_SECRET=2222222222222222222
export FACEBOOK_CALLBACK_URL=http://localhost:4567/callback
export APPLICATION_SALT=3333333333333333333
