<!DOCTYPE html>  <!-- -*- mode: html -*- -->
<html>
{{>head}}
<title></title>
<body>
{{>nav}}



<h2>Session contents</h2>


<ul>
  {{#session}}
  <li>{{key}} = {{value}} </li>
  </li>
  {{/session}}
</ul>

<dl>
  <dt>name</dt> <dd>{{name}}</dd>
  <dt>avatar_url</dt> <dd>{{avatar_url}}</dd>
  <dt>avatar_url as image</dt> <dd><img src="{{avatar_url}}" alt="facebook image" ></dd>
  <dt>email</dt> <dd>{{email}}</dd>
</dl>


{{>footer}}
</body>
</html>
